        @charset "UTF-8";

        body {
            background-color: bisque;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
        }

        h1 {
            color: blueviolet;
            background-color: rgb(166, 166, 214);
        }

        h2 {
            color: brown;
        }

        p {
            text-align: justify;
        }