@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap');

:root {
    --ff-standard: 'Poppins', 'Verdana', sans-serif;
}

* {
    font-size: 62.5%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--ff-standard);

}

body {
    background: url('../img/bg.jpg') no-repeat center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.638);
    background-size: cover;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.6rem;
}

#menu a:hover {
   color: #4CAF50;
   transition: .3s ease-in-out;
}

#logo {
    font-size: 3.2rem;
    color: #4CAF50;
    font-weight: bold;
}

#header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 6.5rem;
    justify-content: space-between;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
    color: white;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        top: 70px;
        right: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        background-color: #3e3e3f;
    }
    
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
    }

    #menu li {
       padding: 1rem 0;
       margin: 0 1rem;
       border-bottom: 2px solid #4caf4f47;
    }

     #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        background: none;
        cursor: pointer;
        gap: .5rem;
        border: none;
    }

    #hamburguer {
        border-top: 2px solid;
        border-width: medium;
        width: 20px;
        color: white;
        
    }
    
    #hamburguer::after, #hamburguer::before  {
        content: '';
        display: block;
        width: 20px;
        height: .5px;
        border-top: 2px solid;
        margin-top: 4px;
        border-width: medium;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

.hcontent {
    display: flex;
    color: white;
    font-size: 2.4rem;
    flex-direction: column;
    padding: 6.5rem;
}

.hcontent h1 {
    padding-bottom: 4rem;
    margin: 4rem 0 0 0;
    font-size: 2.4rem;
    font-weight: bold;
}

.hcontent p {
    padding-bottom: 2rem;
    font-size: 1.6rem;
    text-justify: auto;
}

.hcontent form {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 1.3rem;
    padding: 15px 0 15px;
    width: 25%;
    margin: .5rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    text-indent: 15px;
    color: #ccc;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 2rem;
    padding: 6px 0 6px;
    cursor: pointer;
    border-radius: 6px;
}

@media (max-width: 600px) {
    .hcontent form {
        width: 150vh;
    }
}

.sobre {
    display: flex;
    padding: 6.5rem;
    background-color: white;
    justify-content: space-between;
    font-weight: bold;
    
}

.sobre h2 {
    font-size: 2rem;
    text-align: justify;
    margin-bottom: 3rem;
    max-width: 300px;
    margin: 0 3rem 1rem;
}

.sobre a {
    background-color: #4CAF50;
    color: white;
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: normal;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;

}

.sobre p {
    margin: 1rem 3rem 1rem;
    font-size: 1.2rem;
    max-width: 300px;
    text-align: justify;
}

.btn {
    margin: 1rem 3rem 1rem;
}

.sobre1 {
    display: flex;
    flex-direction: column;
}
.sobre1 img {
    width: 300px;
    margin: 0 3rem 1rem;
}

.about2 .row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

.about2 {
    background-color: #222;
    color: whitesmoke;
}

.about2 .card {
    padding: 3rem 8rem;
    color: #222;
    background-color: #DCDCDC;
    margin: 1.6rem;
    text-align: center;
}

.about2-left {
    flex-basis: 50%;    
}

.about2-right {
    flex-basis: 30%;
    margin-top: 6rem;
}

.about2 h1 {
    font-size: 3.6rem;
    color: #4CAF50;
}

.about2 h2 {
    font-size: 2.4rem;
    margin: 1rem 0;
    line-height: 24px;
}

.about2 p {
    font-size: 1.4rem;
    margin-top: 1.2rem;
}

.material-symbols-outlined {
    color: #369039;
    
}

/* Progress */

.process {
    background-color: white; /*Depois fazer um linear gradient*/
    padding: 6.5rem;
}

.process .row {
    display: flex;
    justify-content: center;
    width: 80%;
    align-items: center;
    margin: auto;
}

.process h1 {
    font-size: 3.6rem;
}

.process h2 {
    font-size: 2.4rem;
    color: #4CAF50;
}

.process p {
    font-size: 1.4rem;
}

.boxes {
    display: flex;
    padding: 1.8rem;
}

.box1, .box2, .box3 {
    padding: 1.8rem;
}

.box1 {
    text-align: left;
}

.box2 {
    text-align: center;
}

.box3 {
    text-align: right;
}

.progress-bar {
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
    margin-top: 5.8rem;
}

.c1, .c2, .c3 {
    background-color: #222;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
}

.c1 {
    top: -8px;
    left: 50px;
}

.c2 {
    top: -8px;
    left: 50%;
}

.c3 {
    top: -8px;
    right: 50px;
}

/* Avaliations */

.av img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.avaliation .av {
    padding: 2rem 6rem;
    margin: 0 8rem 0;
    background-color: #464646c8;
}

.avparent {
    display: flex;
    justify-content: center;
}

.avaliation .row {
    display: flex;
    justify-content: center;
    padding: 6.5rem 0;
    background-color: black;

}

.avaliation .imgface {
    height: 80px;
    width: 80px;
    
}

.av p {
    max-width: 300px;
    font-size: 1.2rem;
    color: white;
    margin: 5px;
}

.av h2 {
    font-size: 1.8rem;
    color: white;
    margin: calc(15px - 5px) 0;   
}

/* Contact */

.contact {
    padding: 4.5rem 0;
    background-color: white;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 2rem;
}

.dataform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont {
    font-size: .8rem;
    padding: 7px 0 7px;
    width: 25%;
    margin: 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    color: #ccc;
}

#message {
    height: 100px;
    width: 25%;
    margin: .5rem 1rem 1rem;
    padding: 7px 0 7px;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    text-indent: 15px;
}

footer {
    height: 80px;
    background-color: #222;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

footer p {
    font-size: 2rem;
}
