@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

:root {
    --cor0: #7D632F;
    --cor1: #ffecc6;
    --cor2: #FCC860;
    --cor3: #7D6C4A;
    --cor4: #CCA14D;
    --fonte-destaque: 'Great Vibes';
    --fonte-escrito: 'Petit Formal Script';
    --fonte-teste: 'Amatic SC';
    --fonte-teste2: 'Courgette';
}

* {
    margin: 0 auto;
    padding: 0px;
    font-size: 1em;
} 

body {
    background: white;
    min-height: 100vh;
}

header{
    background-color: var(--cor3);
    color: var(--cor1);
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 5em;
    padding-top: 50px;
}

header > p {
    font-family:'Times New Roman', Times, serif;
    padding-bottom: 50px;
    line-height: 2em;
    font-size: 1em;
}

section.image {
    text-align: justify;
    padding-top: 10vh;
    padding-bottom: 50vh;
    padding-left: 2vh;
    padding-right: 25vh;
    font-size: 2.5vw;
    background-color: #ffecc6;
    
}

section.image > p {
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0px 0px 0px 20px;
    box-shadow: 2px 6px 6px 0px rgba(0, 0, 0, 0.349);
    text-shadow: 1px 1px 0px black;
    word-spacing: 3px;
    line-height: 1.5em;
    font-family: var(--fonte-teste2);
}

section.image > h2 {
    font-family: var(--fonte-teste);
    padding-top: 1em;
    padding-bottom: .5em;
    border-radius: 0px 20px 0px 0px;
    text-shadow: 1px 1px 0px black;
    font-size: 4vw;
    font-variant: small-caps;
}

section.image > h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.547);
    color: white
}

section.image > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.547);
    color: white;
    text-indent: 10px;
}

section#img1 {
    background-color: #ffecc6;
    background-image: url('images/img1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-attachment: fixed;
}

section#img2 {
    background: #ffecc6 url('images/img2.png') right top no-repeat fixed;
    background-size: 100% auto;
}

section#img3 {
    background: #ffecc6 url('images/img3.jpg') right top no-repeat fixed;
    background-size: 100% auto; 
}

section#img4 {
    background: #ffecc6 url('images/img4.png') right bottom no-repeat fixed;
    background-size: 100% auto;
}

footer {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}