@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(147, 147, 229);
    text-align: center;
}
h1{
    padding: 20px;
}
menu {
    background-color: rgb(81, 81, 165);
}
ul {
    text-decoration: none;
    text-align: left;
}

li {
    border: 1px solid black;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
    background-color: blanchedalmond;
}
main {
    text-align: justify;
}
article {
    width: 45vw;
    display: block;
    margin: auto;
    padding: 10px;
    text-indent: 20px;
}
p {
    padding: 5px;
}
footer {
    background-color: rgb(147, 147, 229);
    text-align: center;
    padding: 5px;
}