@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --c-1: #D4D93D;
    --c-2: #9ABF15;
    --c-3: #467302;
    --c-4: #214001;
    --c-5: #0D0D0D;
}

html {
    width: 100vw; /*BARRA DE ROLAGEM MOBILE QUEBROU POIS FOI SETADO H E W NO BODY */
}

body {
    background-color: whitesmoke;
    /* height: 100vh;
    width: 100vw; */
    overflow-x:hidden;
}

h1 {
    font-size: 2rem;
    
}

.h1colored {
    color: #9ABF15;
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

p, li {
    font-size: 1rem;
}


/* img {
   width: 200px;
   height: 120px;
   border-radius: 10px;
   margin: 10px 0;

} */

img {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    resize: auto;
}



header .menu {
    background-color: whitesmoke;
    display: flex;
    padding: 15px 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

header #logo {
    font-size: 1.4rem;
    
    
    
}
.logogo {
    display: flex;
    align-items: center;
   
}
header .btn {
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--c-2);
    color: whitesmoke;
    text-decoration: none;
    padding: 6px 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.379);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--c-3);
}

.first-section {
    background: url(../img/bg1.jpg) no-repeat center; 
    background-color: rgba(0, 0, 0, 0.43);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.fs-div {
    display: flex;
    align-items: center;
    flex-wrap: wrap ;
}

.fs-div h1 {
    font-size: 2rem;
    color: whitesmoke;
}

.fs-div .h1colored {
    color: #467302;
}

.fs-div h2 {
    font-size: 1.2rem;
    color: whitesmoke;
    margin-bottom: 10px;
}

.fs-div p {
    font-size: 1rem;
    max-width: 500px;
    color: white;
    margin-top: 10px;
}

.form {
    background-color: white;
    border-radius: 10px;
    margin: 50px 0;
}

.form h2 {
    color: var(--c-5);
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.form2 { /*A forma como foi feito o alinhamento em colunas está errado, por que foi preciso fazer uma div em cada input, pesquisar a forma correta */
    display: flex;
    flex-direction: column;
}

input, textarea {
    font-size: 1rem;
    font-style: italic;
    background-color: rgb(239, 229, 229);
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
    margin: 5px 20px;

}

#submit {
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--c-2);
    color: whitesmoke;
    text-decoration: none;
    padding: 6px 50px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.138);
    cursor: pointer;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: #467302;
}

.ssparent {
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
}

.sstext {
    font-size: 3rem; /*Pesquisar por que o REM desde é menos do que o do H1 da seção anterior */
    text-align: center;
    padding: 15px 0;
}

.sstext .h1colored {
    color: #9ABF15;
    font-size: 2rem;
}

.iconsparent {
    justify-content: center;
    display: flex;
    gap: 10rem;
    flex-wrap: wrap;
}

.icons {
    text-align: center;
    color: #9ABF15;
    padding: 15px;
}

.iconsparent .material-symbols-outlined {
    font-size: 50px; 
}

.icons p {
    font-size: 1.2rem;
    color: black;
}

/* THIRD SECTION */

.tsparent {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-wrap: wrap;
    margin-top: 50px;

}

.list li {
    display: flex;
    align-items: center;
}

.tsbox1 p, .tsbox2 p {
    width: 300px;
}

.tsbox1 h1, h2, p {
    margin: 10px 0;
}

.tsbox1 li {
    list-style: none;
}

.material-symbols-outlined {
    color: #9ABF15;
    margin-right: 4px; 
}

.tsbox1 {
    margin: 20px 50px;
}

.tsbox2 {
    margin: 20px 50px;
    display: flex;
    flex-direction: column;
    width: 300px;
    /*position absolute para rendimensionar */
}


.texto {
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
    height: 150px;
    position: relative;
}

.texto h1 {
    color: whitesmoke;
    right: 15px;
    bottom: -95px;
    position: relative;
    text-align: end;
}

.botao {
    background: lightgray no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 10px 10px;
    
    
}

.button {
    align-self: flex-end;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--c-2);
    color: whitesmoke;
    text-decoration: none;
    padding: 6px 25px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.138);
    cursor: pointer;
    margin-bottom: 10px;
    
}

.button:hover {
    background-color: #467302;
}

.botao p {
    width: 200px;
    padding: 20px 10px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    position: relative;
    text-align: start;
    right: -10px;
    bottom: -5px;
    font-style: italic;
}


/* FOURTH SECTION */ /*FORM QUEBROU POR CAUSA DOS INPUTS, ADICIONAR CLASSE SEPARADA*/

.fourth-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.fourth-section p {
    text-align: center;
    width: 500px;
}

.content {
    display: none;
}

.imgparent {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
}

.fsbox {
    flex: 1 1 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 150px;
    margin: 0px 10px;
}

/* FIFTH SECTION */

.fifth-section {
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
    color: whitesmoke;
    text-align: justify;
    display: flex;
    justify-content: center;
}

.fifth-section h3 {
    font-size: 1.6rem;
    color: whitesmoke;
}

.fifth-section p {
    align-self:  center;
    margin-top: 25px;
}

.fstext {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    margin: 30px 0;

}

.fstext button {
    margin-top: 25px;
}

/* SIXTH SECTION */

.sixth-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    width: 100%;
}

.infotext p {
    width: 320px;
}


.info2 {
    margin: 30px 100px;
}

.worker {
    margin: 30px 100px;
}

.phone {
    margin: 20px 0;
}
.phone p {
    margin: 2px 0;
}

.worker img {
    height: 375px;
    object-fit: contain;
    
}

.phone {
    display: flex;
    align-items: center;
}

.socials img {
    width: 16px;
    height: 16px;
    margin: auto;
    border-radius: 0;
}

@media (max-width: 600px) {
    .menu {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-top: 15px;
    }

    .fs-div {
        display: flex;
        flex-direction: column;
    }

    .fs-div-about {
        padding: 10%;
        text-align: center;
    }

    .fs-div-about p {
        text-align: justify;
    }

    .form {
        margin: 20px 0;
    }

    .iconsparent .icons {
        padding: 0;
    }

    .socials {
        margin: 20px 0;
    }

    .ssparent .sstext h1 .h1colored {
        font-size: 2.5rem;
        display: block;
        margin-bottom: 20px;
    }

    .fourth-section p {
        max-width: 300px;
        margin-bottom: 20px;
   }

   .fifth-section p {
        max-width: 300px;
        text-align: center;
        margin: 40px 0;
   }

   .botao p {
    right: -30px;
   }

   .info2 {
    margin: 0;
   }
   
   .worker {
    margin-bottom: 0px;
   }

   .worker img {
    width: 250px;
   }

   .infotext {
    text-align: center;
   }

   .infotext p {
    width: 98vw;
   }

   .phone {
    justify-content: center;
   }

   .socials {
    display: flex;
    justify-content: center;
   }

   }

   @media (max-width: 360px) {

    .carrossel {
        display: flex;
        align-items: flex-start;
        justify-content: center;

    }
    .content {
        display: block;
        height: 200px;
        width: 270px;
        overflow: hidden;
        position: absolute;
    }
    
       .nav {
        position: absolute;
        bottom: 5px;
        left: 52%;
        transform: translate(-50%);
        display: flex;
    }
    
    .bar {
        width: 35px;
        height: 12px;
        border: 2px solid white;
        margin: 6px;
        border-radius: 5px;
        cursor: pointer;
        transition: .4s;
    }
    
    .bar:hover {
        background-color: white;
    }
    
    .content input {
        display: none;
    }
    
    .slides {
        display: flex;
        width: 500%; /*VERIFICAR DEPOIS SE REALMENTE É NECESSÁRIO */
        height: 100%;
    }
    
    .slide {
        width: 20%; 
        transition: .6s;
    }
    
    .slide img {
        width: 100%;
        height: 100%;
    }
    
    #slide1:checked ~ .s1 {
        margin-left: 0;
    }
    
    #slide2:checked ~ .s1 {
        margin-left: -20.8%;
    }
    
    #slide3:checked ~ .s1 {
        margin-left: -40.8%;
    }
    
    #slide4:checked ~ .s1 {
        margin-left: -60.8%;
    }
    
    #slide5:checked ~ .s1 {
        margin-left: -80.8%;
    }

    .imgparent {
    display: none;
    
   }

   .fourth-section {
    height: 340px;
    width: 100%;
   } 

   }

   .av img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
   }
